<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deploy ML model using flask</title>
</head>

<body>
 <div class="login">
	<h1>Welcome to IRIS classifier</h1>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Consumer complaint narrative" placeholder="consumer complaint narrative" required="required" />
        <br><br>
    <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>

   <br>
   <br>
   {{ output }}

 </div>


</body>
</html>